.deps/
.libs/
.dirstamp
*.a
*.o
*.la
*.lo
*.log
*.trs
check_descriptor
check_directory
check_error
check_feature
check_file
check_group
check_local_socket
check_mapped_file
check_memory_mapping
check_message_queue
check_module
check_named_pipe
check_pathname
check_process
check_process_group
check_semaphore
check_stdio
check_socket
check_sysv_segment
check_user
check_version
